*{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    background-color: #DDF2FD;
    height: 200vh;
}





/* Lagu */

.hide{
    position:fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;  
    bottom: 50px;
    left: 1%;
    transition: bottom 0.5s ease;
    
}



#toggleButton2:checked ~ .hide{
    background-color: red;

}

.eye{
    width: 20px;
    height: 20px;
    background-color: wheat;
    padding: 5px;
    border-radius: 20px;
    transition: 0.5s ease;
    cursor: pointer;
    position: absolute;
    z-index: 2;
}

.eye:hover, .eye2:hover{
    background-color: rgb(254, 217, 147);
}

.eye:active{
    background-color: rgb(160, 138, 96);
    
}

.eye2{
    padding: 5px;
    border-radius: 20px;
    width: 20px;
    background-color: wheat;
    transition: 0.5s ease;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.eye23{
    padding: 5px;
    border-radius: 20px;
    width: 20px;
    background-color: wheat;
    transition: 0.5s ease;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    top: 0px;
    
}

.muncul23{
    opacity: 0;
}

#toggleButton2{
    opacity: 0;
}


.muncul2{
    opacity: 1;
    transition: opacity 0.2s ease;
}

#toggleButton2:checked ~ .muncul3{
    opacity: 0;
    
}


.eye23{
    opacity: 0;
}

.lagu{
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 20px;
    left: 50px;
    transition: bottom 0.5s ease;
}

#toggleButton2:checked ~ .lagu{
    bottom: -80px;
}















/* Navbar */

nav{
    width: 100vw;
    height: 10vh;
    background-color: #164863;
    box-shadow: 0px 10px 20px #9BBEC8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 5;
}

.nama{
    color: white;
    margin-left: 30px;
}

.navbar{
    display: none;
    
}

.navigasi{
    list-style-type: none;
    
}

ul li{
    display: inline-block;
}

li a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
    transition: color 0.2s ease;
}

li a:hover{
    color: #9BBEC8;
    
}

@media only screen and (min-width: 600px){
    .container{
        display: none;
    }

    .navbar{
        display: block;
    }

}



.container{
    margin-right: 30px;
    position: absolute;
    right: 10px;
}

#toggleButton{
    display: none;
}

.item{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.item1{
    width: 20px;
    height: 2px;
    background-color: white;
    
}

#muncul{
    opacity: 0;
    transition: opacity 0.2s ease;
}

#toggleButton:checked ~ #muncul{
    opacity: 1;
    
}

.hidden{
    color: white;
    position: absolute;
    margin-top: 5px;
}

.inside{
    background-color: #427D9D;
    border: 3px solid black;
    border-radius: 10px;
    position: absolute;
    right: -35px;
    padding: 5px;

}

.navigasi2{
    line-height: 40px;
    text-align: center;
}

.navigasi, .navigasi2 {
    text-transform: uppercase;
}




/* Profile */

.profile{
    margin-top: 25vh;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.raul{
    width: 300px;
    height: 300px;
    z-index: 1;
    
    
}

.container21 h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    
}

.container21{
    width: 45vw;
}

.container21 p{
    text-align: justify;
}

.nama1{
    color:darkorange ;
}

@media only screen and (max-width:600px) {
    
    .profile{
        margin-top: 300px;
        flex-direction: column-reverse;
        
    }

    .container21{
        width: 60vw;
        margin-top: 20px;
        text-align: center;
    }

    .container21 h2{
        font-size: 35px;
        text-align: center;
        margin-bottom: 10px;
    }

    .container21 p{
        font-size: 15px;
        text-align: center;
    }

}